body
{
            width:100px;
            height:100px;
            transition:all 0.3s ease;
            background-image: url("mystery1.png");

}


.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        
}

.bounce {
  animation: bounceIn 2s;
  padding-left: 30px;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        
}

.bounce {
  animation: bounceIn 2s;
  padding-left: 30px;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
img
{
	height: 200px;
			width:200px;
}
.container {
			margin-top:5px;
			margin-left:5px;

		}

		.container ul {
			color: #E59934;
		}

		.container ul li {
			margin:5px;
			padding:5px;
			width: 200px;
			height:200px;
			float: left;	
			border: 1px black;
			list-style:none;
			
		}

		.container ul li:hover {
			border: 1px solid orange;
			-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
		}